<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mypro.dao.PostspinglunMapper">
    <resultMap id="BaseResultMap" type="org.mypro.entity.Postspinglun">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="posts" jdbcType="VARCHAR" property="posts"/>
        <result column="postsid" jdbcType="INTEGER" property="postsid"/>
        <result column="neirong" jdbcType="VARCHAR" property="neirong"/>
        <result column="pinglunrenmingzi" jdbcType="VARCHAR" property="pinglunrenmingzi"/>
        <result column="pinglunrenid" jdbcType="INTEGER" property="pinglunrenid"/>
        <result column="pinglunshijian" jdbcType="VARCHAR" property="pinglunshijian"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, posts, postsid, neirong, pinglunrenmingzi, pinglunrenid, pinglunshijian
  </sql>
    <select id="selectByExample" parameterType="org.mypro.entity.PostspinglunExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_postspinglun
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_postspinglun
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_postspinglun
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="org.mypro.entity.PostspinglunExample">
        delete from t_postspinglun
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="org.mypro.entity.Postspinglun">
    insert into t_postspinglun (id, posts, postsid, 
      neirong, pinglunrenmingzi, pinglunrenid, 
      pinglunshijian)
    values (#{id,jdbcType=INTEGER}, #{posts,jdbcType=VARCHAR}, #{postsid,jdbcType=INTEGER}, 
      #{neirong,jdbcType=VARCHAR}, #{pinglunrenmingzi,jdbcType=VARCHAR}, #{pinglunrenid,jdbcType=INTEGER}, 
      #{pinglunshijian,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="org.mypro.entity.Postspinglun">
        insert into t_postspinglun
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="posts != null">
                posts,
            </if>
            <if test="postsid != null">
                postsid,
            </if>
            <if test="neirong != null">
                neirong,
            </if>
            <if test="pinglunrenmingzi != null">
                pinglunrenmingzi,
            </if>
            <if test="pinglunrenid != null">
                pinglunrenid,
            </if>
            <if test="pinglunshijian != null">
                pinglunshijian,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="posts != null">
                #{posts,jdbcType=VARCHAR},
            </if>
            <if test="postsid != null">
                #{postsid,jdbcType=INTEGER},
            </if>
            <if test="neirong != null">
                #{neirong,jdbcType=VARCHAR},
            </if>
            <if test="pinglunrenmingzi != null">
                #{pinglunrenmingzi,jdbcType=VARCHAR},
            </if>
            <if test="pinglunrenid != null">
                #{pinglunrenid,jdbcType=INTEGER},
            </if>
            <if test="pinglunshijian != null">
                #{pinglunshijian,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="org.mypro.entity.PostspinglunExample" resultType="java.lang.Long">
        select count(*) from t_postspinglun
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_postspinglun
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.posts != null">
                posts = #{record.posts,jdbcType=VARCHAR},
            </if>
            <if test="record.postsid != null">
                postsid = #{record.postsid,jdbcType=INTEGER},
            </if>
            <if test="record.neirong != null">
                neirong = #{record.neirong,jdbcType=VARCHAR},
            </if>
            <if test="record.pinglunrenmingzi != null">
                pinglunrenmingzi = #{record.pinglunrenmingzi,jdbcType=VARCHAR},
            </if>
            <if test="record.pinglunrenid != null">
                pinglunrenid = #{record.pinglunrenid,jdbcType=INTEGER},
            </if>
            <if test="record.pinglunshijian != null">
                pinglunshijian = #{record.pinglunshijian,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_postspinglun
        set id = #{record.id,jdbcType=INTEGER},
        posts = #{record.posts,jdbcType=VARCHAR},
        postsid = #{record.postsid,jdbcType=INTEGER},
        neirong = #{record.neirong,jdbcType=VARCHAR},
        pinglunrenmingzi = #{record.pinglunrenmingzi,jdbcType=VARCHAR},
        pinglunrenid = #{record.pinglunrenid,jdbcType=INTEGER},
        pinglunshijian = #{record.pinglunshijian,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="org.mypro.entity.Postspinglun">
        update t_postspinglun
        <set>
            <if test="posts != null">
                posts = #{posts,jdbcType=VARCHAR},
            </if>
            <if test="postsid != null">
                postsid = #{postsid,jdbcType=INTEGER},
            </if>
            <if test="neirong != null">
                neirong = #{neirong,jdbcType=VARCHAR},
            </if>
            <if test="pinglunrenmingzi != null">
                pinglunrenmingzi = #{pinglunrenmingzi,jdbcType=VARCHAR},
            </if>
            <if test="pinglunrenid != null">
                pinglunrenid = #{pinglunrenid,jdbcType=INTEGER},
            </if>
            <if test="pinglunshijian != null">
                pinglunshijian = #{pinglunshijian,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.mypro.entity.Postspinglun">
    update t_postspinglun
    set posts = #{posts,jdbcType=VARCHAR},
      postsid = #{postsid,jdbcType=INTEGER},
      neirong = #{neirong,jdbcType=VARCHAR},
      pinglunrenmingzi = #{pinglunrenmingzi,jdbcType=VARCHAR},
      pinglunrenid = #{pinglunrenid,jdbcType=INTEGER},
      pinglunshijian = #{pinglunshijian,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>